
<%- include('../includes/head') %>
 
  </head>

  <body>
   
      
    <%- include('../includes/navigation') %>
    <main class="centered">
        <h1>Nothing to show!</h1>
    </main>
 <%- include('../includes/end') %>
